/* Base styles */
body {
  color: black;
  font-family: Arial, sans-serif; /* Set your preferred font-family */
  box-sizing: border-box;
}

.project-previews {
  padding-bottom: 10%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heading {
  border-top: 2px solid black;
  margin: 20px 10%;
  margin-top: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.heading button {
  background-color: var(--lighter-grey);
  color: black;
  border-radius: 35px;
  margin-left: 10px;
  border: none;
  transition: transform .2s ease-in-out;
  outline: none;
}

.heading button:hover {
  transform: translateY(-1px)
}

.heading button.active {
  background-color: black;
  color: white;
}

.large-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 10px 0;
  word-wrap: break-word;
  width: 100%;
  margin-bottom: 50px;
}

.large-banner img {
  height: auto;
  margin-bottom: 20px;
  width: 100%; /* Ensure images take full width */
}

.large-banner h2, .large-banner p {
  margin: 0; /* Reset margin for consistency */
  width: 100%;
}

.logo-projects {
  margin-top: -30px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two items per row */
  gap: 50px;
  width: 100%;
}

.project-card {
  background: transparent;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  margin: 20px 0;
}

.project-card h2, .project-card p {
  margin: 0; /* Reset margin for consistency */
  word-wrap: break-word;
  width: 100%;
  text-align: left;
}

.project-card p {
  font-size: large;
}

.project-card img {
  border-radius: 20px;
  margin-bottom: 20px;
  width: 100%;
}

/* Media Queries for Tablet and Phone Screens */

@media (max-width: 1024px) {
  .project-previews {
    padding: 8%; /* Adjust padding for smaller screens */
  }

  .large-banner {
    margin: 20px 0; /* Reduce top and bottom margin */
  }

  .grid-container {
    grid-template-columns: repeat(1, 1fr); /* One item per row for tablets */
    gap: 30px;
  }

  .project-card h2, p {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .project-previews {
    padding: 10%; /* Further reduce padding for phones */
  }

  .project-previews p {
    font-size: smaller;
  }

  .project-previews h1, h2, p {
    font-size: medium;
  }

  .grid-container {
    gap: 20px;
  }

  .project-card h2, p {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .large-banner {
    text-align: left; /* Center align text in the banner */
    margin-top: -20px;
  }

  .project-card {
    margin: 5px 0;
  }
  .project-card h2, p {
    width: 100%;
  }
}
