.testimonials h1 {
  width: 100%;
  border-top: 2px solid black;
  padding-top: 10px;
  margin-top: -2vh;
  margin-bottom: 10vh;
}

.testimonials {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: var(--white);
}

.testimonial {
  display: flex !important; /* Override slick default styles */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid var(--lighter-grey);
  border-radius: 20px;
  background-color: var(--lighter-grey);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 0 10px;
  height: 100%;
}

.testimonial-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.testimonial-content {
  text-align: center;
}

.testimonial-name {
  font-size: 1.2em;
  margin-bottom: 10px;
  color: #333;
}

.testimonial-quote {
  font-size: 1em;
  color: #666;
}
