@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body, html {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  background-color: var(--white);
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
}

.top-band {
  height: 45px;
  padding: 10px 10vw;
  border-bottom: 4px solid #54fdae;
  background-color: #10b981;
  display: flex;
  justify-content: end;
  align-items: center;
  box-sizing: border-box;
  font-size: large;
}

.top-band a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
  text-align: right;
  margin-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-band a i {
  margin-right: 5px;
}

.navbar {
  width: 100%;
  height: 70px;
  padding: 10px 10vw;
  transition: background-color 2s ease-in-out;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-size: large;
}

.navbar-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.logo {
  height: 45px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav-links li a {
  color: #333;
  text-decoration: none;
  font-weight: 700;
  transition: opacity .5s ease-in-out;
}

.nav-links li a:hover {
  opacity: 50%;
}

.get-in-touch {
  background-color: #10b981;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-weight: 700;
  border-radius: 5px;
  transition: background-color .3s ease-in-out;
}

.get-in-touch:hover {
  border: solid 1px #059669;
  padding: 9px 19px;
  background-color: transparent;
  color: #10b981;
}

.hero {
  height: 85vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 2s ease-in-out;
  /* padding-top: 10px; */
  box-sizing: border-box;
  padding-right: 10vw;
  left: 0;
}

.hero-text {
  color: #333;
  font-size: 1rem;
  /* font-style: italic; */
  /* font-family: 'Bungee Shade', sans-serif; */
}

.blinking-cursor {
  font-style: italic;
  border-right: 0.15em solid #10b981;
  animation: blink-caret 0.75s step-end infinite;
  padding-left: 5px;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #10b981;
  }
}

h1 {
  margin: 10px 0;
  text-align: left;
}

.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
  color: black;
}

@media (max-width: 768px) {

  .navbar {
    padding: 10px 2rem;
  }

  .navbar-content {
    justify-content: space-between;
  }

  .menu-icon {
    display: block;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: white;
    width: 100%;
    padding: 20px;
  }

  .nav-links.open {
    display: flex;
  }

  .hero {
    padding-top: 70px;
    padding-right: 30px;
    padding-left: 20px;
  }

  .hero-text h1 {
    font-size: 2.2rem;
    text-align: left;
  }

  .top-band a {
    margin-right: 0;
  }

  .top-band {
    padding: 10px 5vw;
  }

  .footer {
    height: 20vh;
    width: 100%;
    display: block;
    background-color: #059669;
    padding-bottom: 50px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 30px;
  }
  
  .menu-icon {
    font-size: 25px;
  }
  
  .navbar {
    padding: 30px;
  }

  .nav-links {
    gap: 5px;
  }

  .get-in-touch {
    width: 100%;
    padding: 10px;
    text-align: center;
  }

  .hero {
    padding-right: 0;
  }

  .hero-text h1 {
    font-size: 1.4rem;
    text-align: left;
  }

  .top-band {
    padding: 10px 7vw;
  }

  .top-band p {
    display: none;
  }

  .top-band a {
    margin-right: 0;
  }
}
